body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: darkslategray;
color: lemonchiffon;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

 .card-img-top {
height: 500px;
}

 .container {
 flex-direction: row;
 flex-wrap: wrap;
 margin-left: 200px;
 }

 li {
  display: flex;
  justify-content: right;
  align-content: center;
  gap: 2rem;
  padding: 0 1rem;
  flex-direction: row;
 }

 .nav ul{
  padding: 0px;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  margin-left: 2000px;
  margin-bottom: 50px;
 }

 .butn1:hover,.btn:hover{
  color: darkslategray;
  background-color: lemonchiffon;
}

.butn1 {
  background-color: darkslategray;
  border: none;
  font-size: large;
  color: lemonchiffon;
}

 .btn{
  color: lemonchiffon;
  background-color: darkslategray;
 }
 .card{
  margin-bottom: 100
  px;
 }


 .mb-3{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px;
  margin-top: 10px;
  flex-direction: column;
 }

 form{
  margin-top: 400px;
 }

 .btn2{
  border:none;
 }

 .about-text{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 }

 .form-label{
  font-size: large;
 }

 .form-control{
  height: 150%;
 }

 .resume-picture{
  justify-content: center;
  display: flex;
  align-items: center;
  margin-top: 300px;
 }

 .card{
margin-bottom: 100px;
}